@font-face {
    font-family: 'Roboto';
    font-style: bold;
    src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) }



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: rgb(128, 232, 220);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}




/*container1  */
@media screen and (min-width:850px) and (max-width:1400px) {

    .container {
        border: 1px solid rgb(26, 107, 114);;
        background-color: rgb(147, 129, 237);
        margin: 20px 20px;
        padding: 0px 10px;
        max-width: 100%;
        height: 600px;
        justify-content: center;
        align-items: center;
        
    }
       
       
        

       .heading{
        display: flex; 
        color: aliceblue;
        background-color: rgb(103, 215, 240);
        font-family:  Verdana, Geneva, Tahoma, sans-serif;
        font-size: 80px;
        width: 100%;
        height: 100px;
        margin-top: 10px ;
        justify-content: center;
        align-items: center;
        }
       

        .marks-input-data{
            background-color: rgb(78, 34, 120);
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 20px 30px;
            width: 100%;
            height: 200px;
            margin: 20px 0px; 
            gap: 20px;
            justify-content:space-between;
            align-items: center;
        }
        .book,input ,label{ 
            background-color: rgb(207, 129, 244);
            border: 1px solid rgb(174, 33, 33); 
            border-radius: 8px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 5px 10px; 
            font-family: sans-serif; 
            font-size: large;
            font-weight: bolder; 
            color: rgb(30, 44, 105);
            width: 150px;
            height: 35px;
            margin: 0px 5px; 
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
        .btn,button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; 
            font-size: large; font-weight: bolder;
            margin: 0px 10px; 
            border: 1px solid rgb(54, 158, 218);
            border-radius: 12px;
            background-color: aqua;
            width: 100px;
            height: 50px;
        }

           .btn,button:hover{
            translate : -20px;
            transform: scale(1);
            color: rgb(11, 161, 202);
           } 

        .result-sheet{
            display: flex; 
            flex-direction: column;
            margin: 10px 350px; 
            border: 1px solid rgb(54, 158, 218);
            border-radius: 12px;
           background-color: rgb(246, 106, 106);
            width: 500px;
            height: 240px; 
        }
         .tr, td{
            
            justify-content: center;
            align-items: center; 
            font-size: large; 
            font-weight: lighter;
            background-color: rgba(200, 243, 44, 0.55);
            border: 1px solid rgb(54, 158, 218);
            border-radius: 12px;
            width: 100%;
            height: 45px; 
         }

    }